.filter {
    display: flex;
    flex-direction: column;
  }
  
  .filterLabel {
    margin-bottom: 10px;
  }
  
  button {
    cursor: pointer;
    border: 0;
  }
  
  button:hover {
    background-color: rgb(61, 139, 248);
    border-radius: 3px;
    border: 0;
  }